.orders {
  background-color: white;
  min-height: 100vh;
}

.orders__container {
  padding: 20px;
}

.orders__container h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}